@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/modal.css");


body {
    margin: 0;
    background-image: url(../img/background-signIn.png);
}

h1 {
    font-size: 48px;
    color: rgba(102, 71, 71, 1);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 10%;
}

.login__input {

    background-color: rgba(214, 240, 255, 1);
    height: 70px;
    width: 590px;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(102, 71, 71, 1);
    font-family: 'Open Sans', sans-serif;
    border: none;
    margin-bottom: 2%;
    padding: 0 20px
}

.login__input:focus {
    outline: none;
    border: 1px solid rgba(250, 189, 189, 1);
}

.password__input {

    background-color: rgba(214, 240, 255, 1);
    height: 70px;
    width: 590px;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(102, 71, 71, 1);
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 0 20px
}

.form-class {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-signin {
    width: 140px;
    height: 50px;
    background-color: rgba(251, 228, 228, 1);
    font-size: 20px;
    color: rgba(102, 71, 71, 1);
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 5px;
}

p {
    font-size: 20px;
    color: rgba(102, 71, 71, 1);
    font-family: 'Open Sans', sans-serif;
}

.border-btn {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.signIn {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;

}

@media (max-width: 1400px) {
    .password__input {

        background-color: rgb(233, 243, 249);
        height: 70px;
        width: 490px;
        border-radius: 10px;
        font-size: 20px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        padding: 0 20px
    }

    .login__input {

        background-color: rgb(233, 243, 249);
        height: 70px;
        width: 490px;
        border-radius: 10px;
        font-size: 20px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        margin-bottom: 2%;
        padding: 0 20px
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 42px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-top: 10%;
        font-weight: 200;
    }

    .password__input {

        background-color: rgb(233, 243, 249);
        height: 70px;
        width: 490px;
        border-radius: 10px;
        font-size: 16px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        padding: 0 20px
    }

    .login__input {

        background-color: rgb(233, 243, 249);
        height: 70px;
        width: 490px;
        border-radius: 10px;
        font-size: 16px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        margin-bottom: 2%;
        padding: 0 20px
    }

    .border-btn {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 68%;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 28px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-top: 10%;
        font-weight: 200;
    }

    .password__input {

        background-color: rgb(233, 243, 249);
        height: 50px;
        width: 290px;
        border-radius: 10px;
        font-size: 16px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        padding: 0 20px
    }

    .login__input {

        background-color: rgb(233, 243, 249);
        height: 50px;
        width: 290px;
        border-radius: 10px;
        font-size: 16px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        margin-bottom: 2%;
        padding: 0 20px
    }

    .btn-signin {
        width: 100px;
        height: 30px;
        background-color: rgba(251, 228, 228, 1);
        font-size: 14px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
        border: none;
        border-radius: 5px;
    }
    p {
        font-size: 14px;
        color: rgba(102, 71, 71, 1);
        font-family: 'Open Sans', sans-serif;
    }

    .border-btn {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 65%;
    }

    
.signIn {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

}
}